body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    border-radius: 10px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #e1f8dd;
    color:#2b2839;
    border-radius: 10px;   
    border-bottom: 7px solid hwb(304 50% 8% / 0.851);
    transition: background-color .5s;
}

.border-blue {
    border: 1px dotted blue;
}